/*css.css*/
p{
	font-family:'Raleway'
}

.description{
	font-family:'Raleway';
	size:24px;
	padding-left:60px;
}
	
h1{
	font-family:'Baumans';
	text-shadow:2px 3px #666666;
}

#header{
	background-color:grey;
	text-align:center;
	
}
ul {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color:#666666;
	width: 150px;
	position: fixed; 
    overflow: auto; 
	border:2px solid black;
}
li a{
	font-family:'Raleway';
	display: block;
	color:white;
	padding: 8px 16px;
	text-decoration: none;
	border-bottom: 1px solid black;
}

li a:hover{
	background-color: white;
	color: #666666;
}


.active {
	background-color: #2bffd4;
	color:black;
}

body{
	background-color:#fef65b;
}
